# 사각형 별 출력

정사각형 별표 출력하기
- https://inha.codetree.ai/missions/4/problems/print-stars-in-square/description

In [ ]:
n = int(input())
for i in range(n):
    print('*'*n)

직사각형 별표 출력하기
- https://inha.codetree.ai/missions/4/problems/print-stars-in-rectangle/description

In [ ]:
n, m = map(int, input().split())
for i in range(n):
    print('* '*m)

정사각형 두 개 출력
- https://inha.codetree.ai/missions/4/problems/output-two-rectangles/description

In [ ]:
n = int(input())
for i in range(n):
    print('*'*n)
print()
for i in range(n):
    print('*'*n)

# 직각삼각형 별 출력

별표 출력하기 2
- https://inha.codetree.ai/missions/4/problems/print-star-2/description

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    print('* ' * i)

별표 출력하기 7
- https://inha.codetree.ai/missions/4/problems/print-star-7/description

In [ ]:
n = int(input())
for i in range(1, n+1):
    print('* ' * i)

별표 출력하기 5
- https://inha.codetree.ai/missions/4/problems/print-star-5/description

In [ ]:
n = int(input())
for i in range(n):
    for j in range(n, 0, -1):
        print('*'*n, end = ' ')
    n = n - 1
    print()

직각 삼각형 출력
- https://inha.codetree.ai/missions/4/problems/Right-triangle-and-output/description

In [ ]:
n = int(input())
for i in range(1, 2*n, 2):
    print('*'*i)

# 행에 대해 대칭인 별 출력

별표 출력하기
- https://inha.codetree.ai/missions/4/problems/print-star/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    print('* ' * i)
for j in range(n-1, 0, -1):
    print('* ' * j)

별표 출력하기 4
- https://inha.codetree.ai/missions/4/problems/print-star-4/description

In [ ]:
n = int(input())
for i in range(n, 1, -1):
    print('* ' * i)
for j in range(1, n + 1):
    print('* ' * j)

건너뛰고 별표 출력하기
- https://inha.codetree.ai/missions/4/problems/skip-and-print-a-star/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    print('*' * i)
    print()
for j in range(n - 1, 0, -1):
    print('*' * j)
    print()

# 열에 대해 대칭인 별 출력

별표 출력하기 3
- https://inha.codetree.ai/missions/4/problems/print-star-3/description

In [ ]:
n = int(input())
space_value = 0
for i in range(2*n - 1, 0, -2):
    print(' ' * (2 * space_value), end = '')
    space_value += 1
    print('* ' * i)

In [ ]:
# 예시 답안
# 변수 선언 및 입력
n = int(input())

# 모양에 맞게 별을 출력합니다.
for i in range(n):
	for _ in range(i):
		print(" ", end=" ")
	for _ in range((2 * n) - (2 * i) - 1):
		print("*", end=" ")
	print()

별표 출력하기 9
- https://inha.codetree.ai/missions/4/problems/print-star-9/description

In [ ]:
n = int(input())
space_value = 2 * n - 2
for i in range(1, 2*n, 2):
    print(' ' * space_value, end = '')
    space_value -= 2
    print('* ' * i)

두 개의 직각삼각형
- https://inha.codetree.ai/missions/4/problems/two-right-triangle/description

In [ ]:
n = int(input())
space_value = 0
for i in range(n, 0, -1):
    print('*' * i, end = '')
    print(' ' * (2 * space_value), end = '')
    print('*' * i)
    space_value += 1

# 행, 열에 대해 대칭인 별 출력

별표 출력하기 6
- https://inha.codetree.ai/missions/4/problems/print-star-6/description

In [ ]:
n = int(input())
space_count = 0
for i in range(2*n - 1, 1, -2):
    print(' ' * space_count, end = '')
    space_count += 2
    print('* ' * i)
for i in range(1, 2*n, 2):
    print(' ' * space_count, end = '')
    space_count -= 2
    print('* ' * i)

별 그리기
- https://inha.codetree.ai/missions/4/problems/star-drawing/description

In [ ]:
n = int(input())
space_count = n - 1
for i in range(1, 2 * n - 1, 2):
    print(' ' * space_count, end = '')
    space_count -= 1
    print('*' * i)
for i in range(2 * n - 1, 0, -2):
    print(' ' * space_count, end = '')
    space_count += 1
    print('*' * i)

특정 규칙에 따른 문자 출력
- https://inha.codetree.ai/missions/4/problems/character-output-according-to-rule/description

In [ ]:
n = int(input())
space_count = 2*n - 2
for i in range(1, n):
    print(' ' * space_count, end = '')
    space_count -= 2
    print('@ ' * i)
for i in range(n, 0, -1):
    print('@ ' * i)

체크 다이아몬드
- https://inha.codetree.ai/missions/4/problems/check-diamond/description

In [ ]:
n = int(input())
space_count = n - 1
for i in range(1, n):
    print(' ' * space_count, end = '')
    space_count -= 1
    print('* ' * i)
for i in range(n, 0, -1):
    print(' ' * space_count, end = '')
    space_count += 1
    print('* ' * i)

# 행에 따라 다른 별 출력

별표 출력하기 8
- https://inha.codetree.ai/missions/4/problems/print-star-8/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    if(i % 2 == 1):
        print('*')
    else:
        print('* ' * i)

별표 출력하기 10
- https://inha.codetree.ai/missions/4/problems/print-star-10/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    print('* ' * i)
    print('* ' * (n - i + 1))

별표 출력하기 13
- https://inha.codetree.ai/missions/4/problems/print-start-13/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    print('* ' * (n - i + 1))
    print('* ' * i)

# 모양과 관계 없는 별 출력

별표 출력하기 11
- https://inha.codetree.ai/missions/4/problems/print-star-11/description

In [ ]:
n = int(input())
for i in range(2*n+1):
    if(i % 2 == 0):
        print('* ' * (2 * n + 1))
    else:
        print('*   ' * (n + 1))

별표 출력하기 12
- https://inha.codetree.ai/missions/4/problems/print-star-12/description

In [ ]:
# 예시 답안
# 변수 선언 및 입력
n = int(input())

for i in range(n):
    for j in range(n):
        if j % 2 == 0:
            if i == 0:
                print("* ", end="")
            else:
                print("  ", end="")
        else:
            if i <= j:
                print("* ", end="")
            else:
                print("  ", end="")
    print()

규칙을 찾아 출력하기
- https://inha.codetree.ai/missions/4/problems/find-a-rule-and-print/description

In [ ]:
n = int(input())
space_count = n - 2
star_count = 0
for i in range(n):
    if(i == 0):
        print('* ' * n)
    else:
        print('*', end = '')
        print(' *' * star_count, end = '')
        star_count += 1
        print(' ' * (space_count * 2), end = '')
        space_count -= 1
        print(' *')

# 일반적인 순서로 숫자 출력

행 단위로 반복하여 출력
- https://inha.codetree.ai/missions/4/problems/print-in-row/description

In [ ]:
n = int(input())
for i in range(n):
    for j in range(1, n + 1):
        print(j, end = '')
    print()

열 단위로 반복하여 출력
- https://inha.codetree.ai/missions/4/problems/print-in-column/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    print(str(i) * n)

순서쌍 만들기
- https://inha.codetree.ai/missions/4/problems/making-order-pair/description

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    for j in range(n, 0, -1):
        print(f'({i},{j})', end = ' ')
    print()

열에 따라 감소하는 정사각형
- https://inha.codetree.ai/missions/4/problems/a-square-that-decreases-with-heat/description

In [ ]:
n = int(input())
for i in range(n):
    for j in range(n, 0, -1):
        print(j, end = ' ')
    print()

# 수학적 규칙에 따라 숫자 출력

행과 열
- https://inha.codetree.ai/missions/4/problems/row-column/introduction

In [ ]:
a, b = map(int, input().split())
for i in range(1, a + 1):
    for j in range(1, b + 1):
        print(i * j, end = ' ')
    print()

홀수로 이루어진 정사각형
- https://inha.codetree.ai/missions/4/problems/square-with-odd-numbers/description

In [ ]:
n = int(input())
start_num = 11
for i in range(n):
    for j in range(n):
        print(start_num + 2 * j, end = ' ')
    start_num += 2
    print()

좌우반전시킨 정사각형
- https://inha.codetree.ai/missions/4/problems/left-right-inverted-square/description

In [ ]:
n = int(input())
start_num = n
for i in range(1, n + 1):
    for j in range(n):
        print(start_num - (i * j), end = ' ')
    print()
    start_num = n * (i+1)

# cnt를 이용하여 숫자 출력

정사각형 출력
- https://inha.codetree.ai/missions/4/problems/print-square/description

In [ ]:
n = int(input())
cnt = 1
for i in range(n):
    for j in range(n):
        print(cnt, end = ' ')
        cnt += 1
    print()

1-9 정사각형
- https://inha.codetree.ai/missions/4/problems/1-9-square/description

In [ ]:
n = int(input())
cnt = 1
for i in range(n):
    for j in range(n):
        print(cnt, end = '')
        cnt = (cnt + 1) % 10
        if(cnt == 0):
            cnt = 1
    print()

모양대로 숫자 출력하기 2
- https://inha.codetree.ai/missions/4/problems/print-out-numbers-in-specific-shape-2/description

In [ ]:
n = int(input())
num_list = [2, 4, 6, 8]
cnt = 0
for i in range(n):
    for j in range(n):
        print(num_list[cnt], end = ' ')
        cnt = (cnt + 1) % 4
    print()

9-1 정사각형
- https://inha.codetree.ai/missions/4/problems/9-1-square/description

In [ ]:
n = int(input())
cnt = 9
for i in range(n):
    for j in range(n):
        print(cnt, end = '')
        cnt = (cnt - 1) % 10
        if(cnt == 0):
            cnt = 9
    print()

# 행, 열에 따라 다르게 숫자 출력

좌우로 반복하며 출력
- https://inha.codetree.ai/missions/4/problems/print-in-left-right-reverse/description

In [ ]:
n = int(input())
for i in range(n):
    if(i % 2 == 0):
        cnt = 1
        while(cnt <= n):
            print(cnt, end = '')
            cnt += 1
    else:
        cnt = n
        while(cnt != 0):
            print(cnt, end = '')
            cnt -= 1
    print()

상하로 반복하며 출력
- https://inha.codetree.ai/missions/4/problems/print-in-up-down-reverse/description

In [ ]:
n = int(input())
cnt = 0
for i in range(n):
    for j in range(n):
        if(j % 2 == 0):
            print((cnt + 1), end = '')
        else:
            print((n - cnt), end = '')
    cnt += 1
    print()

좌우 지그재그 출력
- https://inha.codetree.ai/missions/4/problems/print-lr-zigzag/description

In [ ]:
n = int(input())
cnt = 1
for i in range(n):
    if(i % 2 == 0):
        for j in range(n):
            print(cnt, end = ' ')
            cnt += 1
        cnt += (n - 1)
    else:
        for j in range(n):
            print(cnt, end = ' ')
            cnt -= 1
        cnt += (n + 1)
    print()

열에 따라 다르게 출력
- https://inha.codetree.ai/missions/4/problems/output-differently-for-column/description

In [ ]:
n = int(input())
cnt = 0
for i in range(n):
    if(i % 2 == 0):
        for j in range(n):
            cnt += 1
            print(cnt, end = ' ')
    else:
        for j in range(n):
            cnt += 2
            print(cnt, end = ' ')
    print()

# 구구단

정상적인 구구단
- https://inha.codetree.ai/missions/4/problems/normal-multiple/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, n):
        print(f'{i} * {j} = {i * j},', end = ' ')
    print(f'{i} * {n} = {i * n}')

구구단 만들기
- https://inha.codetree.ai/missions/4/problems/print-multiplication-table/description

In [ ]:
a, b = map(int, input().split())
for i in range(1, 10):
    for j in range(b, a - 1, -1):
        if(j % 2 != 0):
            continue
        else:
            if(j != a):
                print(f'{j} * {i} = {j * i} /', end = ' ')
            else:
                print(f'{a} * {i} = {a * i}')

구구단 만들기 2
- https://inha.codetree.ai/missions/4/problems/print-multiplication-table-2/submissions

In [ ]:
a, b = map(int, input().split())
for i in range(2, 10, 2):
    for j in range(b, a, -1):
        print(f'{j} * {i} = {j * i} /', end = ' ')
    print(f'{a} * {i} = {a * i}')

# 모양대로 숫자 출력

숫자 삼각형
- https://inha.codetree.ai/missions/4/problems/number-triangle/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = ' ')
    print()

숫자 피라미드
- https://inha.codetree.ai/missions/4/problems/number-pyramid/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(i, end = ' ')
    print()

숫자 피라미드 3
- https://inha.codetree.ai/missions/4/problems/number-pyramid-3/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(i * j, end = ' ')
    print()

숫자 피라미드 2
- https://inha.codetree.ai/missions/4/problems/number-pyramid-2/description

In [ ]:
n = int(input())
cnt = 1
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(cnt, end = ' ')
        cnt += 1
    print()

모양대로 숫자 출력하기
- https://inha.codetree.ai/missions/4/problems/print-out-numbers-in-specific-shape/description

In [ ]:
n = int(input())
space_count = 0
for i in range(n, 0, -1):
    print(' ' * space_count, end = '')
    for j in range(i, 0, -1):
        print(j, end = ' ')
    space_count += 2
    print()

In [ ]:
# 예시 답안
# 변수 선언 및 입력
n = int(input())

# 숫자로 이루어진 삼각형을 출력
for i in range(n, 0, -1):
	for j in range(n, 0, -1):
		if j > i:
			print(" ", end=" ")
		else:
			print(j, end=" ")
	print()

특정 규칙에 따른 숫자 출력
- https://inha.codetree.ai/missions/4/problems/output-numbers-according-to-specific-rule/description

In [ ]:
n = int(input())
cnt = 1
space_count = 0
for i in range(n, 0, -1):
    print(' ' * space_count, end = '')
    for j in range(i, 0, -1):
        print(cnt, end = ' ')
        cnt = (cnt + 1) % 10
        if(cnt == 0):
            cnt = 1
    space_count += 2
    print()

규칙에 맞는 출력
- https://inha.codetree.ai/missions/4/problems/output-that-matches-the-rule/description

In [ ]:
n = int(input())
cnt = n
for i in range(1, n + 1):
    for j in range(0, i):
        print(cnt + j, end = ' ')
    cnt -= 1
    print()

In [ ]:
# 예시 답안
# 변수 선언 및 입력
n = int(input())

# 숫자로 이루어진 삼각형을 출력
for i in range(n):
	for j in range(i + 1):
		print(n - i + j, end=" ")
	print()

# 포맷에 맞춰 숫자 출력

일직선 구구단
- https://inha.codetree.ai/missions/4/problems/one-line-multiple/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(f'{i} * {j} = {i * j}')

특이한 출력
- https://inha.codetree.ai/missions/4/problems/special-print/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if((i + j) % 4 == 0):
            print(f'({i}, {j})')
        else:
            print(f'({i}, {j})', end = ' ')

19단 출력
- https://inha.codetree.ai/missions/4/problems/nineteen-times-table/description

In [ ]:
for i in range(1, 20):
    for j in range(1, 19, 2):
        print(f'{i} * {j} = {i * j} / {i} * {j + 1} = {i * (j + 1)}')
    print(f'{i} * 19 = {i * 19}')

구구단으로 이루어진 직각 삼각형
- https://inha.codetree.ai/missions/4/problems/a-right-triangle-made-up-of-multiplication-tables/description

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, (n - i + 2)):
        if(j == (n - i + 1)):
            print(f'{i} * {j} = {i * j}')
        else:
            print(f'{i} * {j} = {i * j} /', end = ' ')

# 알파벳 출력

정사각 알파벳 출력하기
- https://inha.codetree.ai/missions/4/problems/print-alpabet-in-square/description

In [ ]:
n = int(input())
# 아스키 코드 값은 ord() 함수 사용
# 아스키 코드 값을 문자열로 다시 대응하려면 chr() 함수 사용
cnt = 65 # 아스키 코드로 'A' 인 값
for i in range(n):
    for j in range(n):
        print(chr(cnt), end = '')
        cnt += 1
    print()

알파벳 출력하기
- https://inha.codetree.ai/missions/4/problems/print-alphabet/description

In [ ]:
n = int(input())
cnt = 65
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(chr(cnt), end = '')
        if(chr(cnt) == 'Z'):
            cnt = 65
        else:
            cnt += 1
    print()

알파벳 출력하기 2
- https://inha.codetree.ai/missions/4/problems/print-alphabet-2/description

In [ ]:
n = int(input())
space_count = 0
cnt = ord('A')
for i in range(1, n + 1):
    print(' ' * space_count, end = '')
    for j in range(1, (n - i + 2)):
        print(chr(cnt), end = ' ')
        if(chr(cnt) == 'Z'):
            cnt = ord('A')
        else:
            cnt += 1
    print()
    space_count += 2

# n번 반복

ab곱 n번 구하기
- https://inha.codetree.ai/missions/4/problems/a-multiple-b-n-times/description

In [ ]:
n = int(input())
num_list = []
for i in range(n):
    a, b = map(int, input().split())
    num = 1
    for j in range(a, b + 1):
        num = num * j
    num_list.append(num)
for k in range(n):
    print(num_list[k])

3n + 1 수열 m번
- https://inha.codetree.ai/missions/4/problems/3n-plus-1-sequence-m-times/description

In [ ]:
m = int(input())
for i in range(m):
    n = int(input())
    cnt = 0
    while(n != 1):
        cnt += 1
        if(n % 2 == 0):
            n = n // 2
        else:
            n = n * 3 + 1
    print(cnt)

완전수
- https://inha.codetree.ai/missions/4/problems/perfect-number/description

In [ ]:
start, end = map(int, input().split())
cnt = 0
for i in range(start, end + 1):
    num_list = []
    for j in range(1, (i // 2) + 1):
        if(i % j == 0):
            num_list.append(j)
    if(i == sum(num_list)): # 약수 리스트의 합과 해당 수가 같다면
        cnt += 1
print(cnt)

약수의 개수가 3개인 수
- https://inha.codetree.ai/missions/4/problems/square-of-prime-number/submissions

In [ ]:
start, end = map(int, input().split())
cnt = 0
for i in range(start, end + 1):
    num_list = []
    for j in range(1, (i // 2) + 1):
        if(i % j == 0):
            num_list.append(j)
    num_list.append(i) # 자기 자신도 약수이므로
    if(len(num_list) == 3):
        cnt += 1
print(cnt)

소수 구하기
- https://inha.codetree.ai/missions/4/problems/get-prime/description

In [ ]:
n = int(input())
num_list = []
for i in range(1, n + 1):
    if(i == 1 or (i != 2 and i % 2 == 0)):
        continue
    else:
        check_num = 1
        for j in range(2, (i // 2) + 1):
            if(i % j == 0):
                check_num = 0
                break
        if(check_num == 1):
            num_list.append(i)
for k in range(len(num_list)):
    print(num_list[k], end = ' ')

짝수의 합 n번 구하기
- https://inha.codetree.ai/missions/4/problems/find-the-sum-of-even-numbers-n-times/description

In [ ]:
n = int(input())
for i in range(n):
    a, b = map(int, input().split())
    sum = 0
    for j in range(a, b + 1):
        if(j % 2 == 0):
            sum += j
    print(sum)